body, button, input, select
{
	font-size: 16pt;
	font-family: "Source Serif Pro", "Computer Modern", Times, "Times New Roman", serif;
	font-weight: 200;
	outline: none;
	color: #000;
	background-color: #fff
}

body { margin: 1em 1em 4em 1em; }

button, input, select
{
	border: none;
	padding: 0;
	margin: 2pt;
}

button
{
	border-top: 4pt solid #80ff80;
	border-bottom: 4pt solid #80ff80;
	cursor: pointer;
}

input
{
	background: none;
	border: none;
	border-top: 4pt solid #80ffff;
	border-bottom: 4pt solid #80ffff;
}

select
{
	border-top: 4pt solid #ffff80;
	border-bottom: 4pt solid #ffff80;
}

button:hover { background-color: #C0ffC0; }
input:hover { background-color: #C0ffff; }
select:hover { background-color: #ffffC0; }


button:active
{
	color: #fff;
	background-color: #000;
}

strong { font-weight: bolder }

head, title { display: block }

title
{
	font-family: "Source Serif Pro", "Computer Modern", Times, "Times New Roman", serif;
	text-align: right;
	position: fixed;
	padding: 8pt;
	right: 0;
	bottom: 0;
	margin: 0;
	background-color: #fff;
	color: #000;
	font-weight: 200;
	font-size: 24pt;
	opacity: .5;
}

h1, h2, h3, h4, h5, h6
{
	margin-top: .25em;
	margin-bottom: .25em;
	width: 100%;
	font-weight: inherit;
}

h1 {font-size: 2em}

#magma-generator { display: none } /* hidden by default, kinda */
#magma-generator header { display: flex }
#magma-generator input { flex-grow: 1 }

.listing
{
	display: flex;
	flex-wrap: wrap;
}

.listing.collapsed > * { display : none }
.listing.collapsed > *:nth-child(1) { display : block }

.operator
{
	margin-right: .5em;
	margin-bottom: .5em;
}

.elements ol
{
	width: 100%;
	list-style-type: none;
	padding: 0;
	margin: 0 0 1em 0;
	display: flex;
}

.elements .new
{
	background-color: #e0fff0;
}

.operator th, .operator td, .elements li
{
	padding: 0;
	text-align: center;
	height:1em;
	width:1em;
	line-height: 1em;
}

